[submodule "Python_Codebase"]
	path = Python_Codebase
	url = https://github.com/joe-jngigi/Python_Codebase
[submodule "google_colab"]
	path = google_colab
	url = https://github.com/joe-jngigi/google_colab
